// MIXINS
@nav-height: 65px;
@content-width: 920px;
// GLOBAL //
h1 {
    font-family: "KGHappy", "BebasNeue", "Montserrat";
    font-size: 5.5em;
    line-height: 100%;
    margin: 0.1em 0px;
    text-align: center;
}

h2 {
    font-family: "KGHappy", "BebasNeue", "Montserrat";
    font-size: 2em;
    line-height: 100%;
}

h3 {
    font-size: 1em;
    line-height: 110%;
    color: #777;
    text-align: center;
    //text-transform: uppercase;
    font-weight: bold;
    margin: 0.4em 0 5em 0;
}

html,
body,
.section,
.content {
    font-weight: normal;
    height: 100%;
    font-size: 16px;
    line-height: 150%;
}

.section,
.content {
    max-width: @content-width;
    margin: 0 auto;
}

section {
    position: relative;
    z-index: 1;
    padding: 50px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 9px 10px -5px rgba(0, 0, 0, 0.12);
}

.container .row {
    margin-left: 0px;
    margin-right: 0px;
}

div {
    line-height: 150%;
}

p {
    line-height: 1.6em;
}

img {
    width: 100%;
}

.circle {
    border-radius: 50% !important;
}

.text-button {
    border-radius: 3px;
    background-color: #333;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
}

.halign {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.valign-parent {
    position: relative;
    .valign {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &.halign {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

header,
home,
about,
timeline,
fun,
contact,
ngfooter {
    display: block;
    position: relative;
}

// HEADER & NAV //
header {
    width: 100%;
    min-height: 70px;
    position: absolute;
    z-index: 10;
    .navbar-fixed {
        transform: translateY(-150px);
        position: fixed;
        height: 80px;
        width: 100%;
        top: -10px;
        nav {
            -webkit-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out;
            max-width: 100%;
            height: 90px;
            padding-top: 10px;
            background-size: cover;
            //background: rgba(255, 255, 255, s0.2);
            //background: url('/img/backgrounds/bg-1-blur.jpg');
            //background: white;
            .container {
                max-width: @content-width;
                position: relative;
                height: 100%;
                .page-title {
                    font-family: "KGHappy";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    font-size: 2.5em;
                }
                ul {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    &.bg-list {
                        left: 0;
                        li {
                            margin: 5px 10px;
                            overflow: visible!important;
                            .bg-frame {
                                width: 40px;
                                height: 40px;
                                border: none;
                                overflow: hidden;
                                background-size: 300%;
                                //background-size: cover;
                                img {
                                    display: block;
                                    height: 140px;
                                    width: 240px;
                                }
                            }
                        }
                    }
                    &.link-list {
                        padding-top: 0px;
                    }
                }
            }
        }
    }
    nav {
        max-width: @content-width;
        margin: 0 auto;
        height: @nav-height;
        line-height: @nav-height;
        ul {
            &.bg-list {
                position: fixed;
                z-index: 9999;
                bottom: -10px;
                left: 15px;
                bottom: 15px;
                width: 65px;
                li {
                    line-height: 50px;
                    margin: 0px;
                    overflow: visible!important;
                    .bg-frame {
                        width: 40px;
                        height: 40px;
                        border: none;
                        overflow: hidden;
                        background-size: 300%;
                        //background-size: cover;
                        img {
                            display: block;
                            height: 140px;
                            width: 240px;
                        }
                    }
                }
            }
            &.link-list {
                padding-top: 15px;
                line-height: 65px;
                li {
                    border-radius: 50%;
                    line-height: 65px;
                    overflow: hidden !important;
                    a {
                        color: #fff;
                        height: 65px;
                        width: 65px;
                        transition: 0.5s;
                        padding: 15px;
                        &:hover {
                            background: none;
                        }
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
        .brand-logo {
            color: #444;
        }
    }
}

// HOME //
home {
    #home {
        margin: 0px;
        background: none !important;
        position: relative;
        overflow: visible;
        width: 100%;
        //height: 600px;
        .page-title {
            font-family: "KGHappy";
            font-size: 7em;
            text-transform: uppercase;
            text-align: center;
            width: 720px;
            line-height: 100%;
        }
        .portrait-frame {
            width: 250px;
            height: 250px;
            position: absolute;
            bottom: -3%;
            left: 50%;
            transform: translate(-50%, 50%);
            border: none;
            overflow: hidden;
            margin: 0;
            background: url('/img/portfolio/portarit.jpg');
            background-size: cover;
            filter: contrast(150%);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &.small {
                width: 125px;
                height: 125px;
                bottom: -110px;
            }
        }
        #home-bg {
            overflow: hidden;
            background: linear-gradient(145deg, #13d4b3, #138ed4, #cd24df);
            background: url('/img/bg/bg-1.jpg');
            background: white;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out;
        }
    }
}

// ABOUT //
about {
    #about {
        padding: 200px 0px 100px;
        min-height: 300px;
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 9px 10px -5px rgba(0, 0, 0, 0.12);
        z-index: 2;
        h2 {
            margin: 0;
            font-family: Roboto;
            font-weight: bolder;
            color: #333;
            font-size: 1.5em;
        }
        .left {
            text-align: left;
        }
        .middle {
            text-align: justify;
        }
        .right {
            text-align: right;
        }
        .about-item {
            margin-bottom: 15px;
            min-width: 175px;
            img {
                left: 10px;
                top: 50%;
                width: 22px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
    }
}

// TIMELINE //
timeline {
    #timeline {
        overflow: hidden;
        padding: 50px 50px 150px;
        background: #f2f2f2;
        box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 9px 10px -5px rgba(0, 0, 0, 0.12);
        h1 {
            text-align: center;
        }
        .card {
            .card-image {
                height: 300px;
                img {
                    width: 125%;
                    width: 750px;
                    border-radius: 3px;
                }
            }
            .date {
                margin-top: 20px;
                color: #999;
                font-size: 13px;
                text-align: right;
                font-style: italic;
            }
        }
    }
    //TIMELINE
    .timeline {
        position: relative;
        .timeline-event {
            position: relative;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: -100px;
            pointer-events: none;
            &::before {
                display: block;
                content: "";
                width: 2px;
                height: calc(~"50% - 30px");
                position: absolute;
                background: #d2d2d2;
                left: calc(~"50% - 1px");
                top: 0;
            }
            &::after {
                display: block;
                content: "";
                width: 2px;
                height: calc(~"50% - 30px");
                position: absolute;
                background: #d2d2d2;
                left: calc(~"50% - 1px");
                top: calc(~"50% + 30px");
            }
            .timeline-content {
                position: relative;
                pointer-events: all;
                width: calc(~"50% - 50px");
            }
            .coffe-svg {
                position: absolute;
                top: 66px;
                left: 66%;
                width: 75%;
                -webkit-filter: brightness(4.5);
                filter: brightness(4.5);
            }
            .idea-svg {
                position: absolute;
                top: 150px;
                right: 66%;
                width: 75%;
                -webkit-filter: brightness(4.5);
                filter: brightness(4.5);
            }
        }
    }
    .timeline .timeline-event:first-child::before {
        display: none;
    }
    .timeline .timeline-event:last-child::after {
        display: none;
    }
    .timeline .timeline-event:nth-child(even) .timeline-content {
        margin-left: calc(~"50% + 50px");
    }
    .timeline .timeline-event:nth-child(odd) .timeline-content {
        margin-left: 0;
    }
    .timeline .timeline-badge {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: #d2d2d2;
        top: calc(~"50% - 20px");
        right: calc(~"50% - 20px");
        border-radius: 50%;
        text-align: center;
        cursor: default;
    }
    .timeline .timeline-badge i {
        font-size: 25px;
        line-height: 40px;
    }
    @media (max-width: 900px) {
        .timeline .timeline-event {
            margin-bottom: 0px;
        }
        .timeline .timeline-event .timeline-content {
            width: calc(~"100% - 70px");
        }
        .timeline .timeline-event::before {
            left: 19px;
        }
        .timeline .timeline-event::after {
            left: 19px;
        }
        .timeline .timeline-event:nth-child(even) .timeline-content {
            margin-left: 70px;
        }
        .timeline .timeline-event:nth-child(odd) .timeline-content {
            margin-left: 70px;
        }
        .timeline .timeline-badge {
            left: 0;
        }
    }
}

fun {
    #fun {
        .content {
            margin: 50px 0px;
        }
        img {
            height: 280px;
            margin: 20px 0px;
        }
    }
    box-shadow: 0 2px 5px -1px rgba(0,
    0,
    0,
    0.15),
    0 9px 10px -5px rgba(0,
    0,
    0,
    0.12);
}

contact {
    background: #f2f2f2;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 9px 10px -5px rgba(0, 0, 0, 0.12);
}


/* button-collapse*/

.button-collapse {
    color: #26a69a;
}

.tilt-line {
    height: 100%;
    width: 20px;
}

.svg-fill {
    fill: rgba(51, 51, 51, 0.08);
}

.file {
    //background-color: rgba(51, 51, 51, 0.08);
}

footer {
    .section {
        width: 100%;
    }
    #footer {
        min-height: 200px;
        .row {
            margin-bottom: 5px;
            a {
                color: white;
                font-weight: bold;
            }
        }
    }
    .footer-copyright {
        line-height: 50px;
        .section {
            padding: 0;
            .text-copyright {
                font-size: 14px;
                padding: 0 15px;
                margin-left: 30px;
                line-height: 50px;
                max-width: 1280px;
                margin: 0 auto;
            }
        }
    }
}

.material-icons {
    pointer-events: none;
}


/* section */

.section {
    width: 75%;
    margin: 0 auto;
}

.container {
    //background: white;
    width: 100%;
}

.nav-wrapper {
    background: none;
}

#1 {
    .row {
        vertical-align: middle;
        display: inline-block;
    }
    .section {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        display: inline-block;
    }
}


/* container */

.container {
    //min-height: 62vh;
}

.parallax-container {
    min-height: 200px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
    color: white;
    .section {
        width: 100%;
    }
}

.card {
    //min-height: 300px;
    .card-image {
        img {
            //width: 250%;
        }
    }
    .card-content {
        .card-title {
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
    .card-action {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    &.small {
        .card-image {
            max-height: 100%;
        }
    }
    &#card-job {
        height: 274px;
        .card-image {
            max-width: 387px;
            padding: 15px;
        }
    }
    &.job-image {
        min-height: 293px;
        img {
            padding: 15px;
        }
    }
}

.info-text {
    text-align: justify;
    h1 {
        font-family: "BebasNeue";
        font-size: 5em;
        margin: 0 0 0px 0;
        color: #444;
    }
    h2 {
        font-family: "BebasNeue";
        font-size: 2.5em;
        margin: 0 0 0px 0;
        color: #555;
    }
}

.pad-right {
    padding-right: 15px;
}

.pad-left {
    padding-left: 15px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    background: url('/img/bg/bg-1-blur.jpg');
    background: white;
    background-size: cover;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

#bottomShape {
    margin-bottom: -50px;
    top: -45px;
    z-index: 2;
    fill: white;
}

#topShape {
    top: 95px;
    z-index: 2;
    margin-top: -75px;
    fill: white;
}

#bottomShape,
#topShape,
.blackSkew,
.pullBown-btn {
    position: relative;
}

.row.center {
    position: relative;
    top: 50%;
    transform: translateY(-42%);
}

.opacity-1 {
    opacity: 1;
}

.light-teal-text {
    color: #08d198 !important;
}

.teal-text {
    color: #018a75 !important;
}

.side-nav a {
    //pointer-events: none;
}

.carousel-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.brand-logo {
    height: 100%;
    position: relative;
}

.logo-img {
    position: relative;
    height: 80%;
    color: #444;
    top: 10%;
    width: 100%;
}


/* box shadow */

#sun {
    width: 300px;
}

.shadow-box {
    display: block;
    position: relative;
    z-index: 1;
    width: 500px;
    //height: 200px;
    margin: 0 auto;
    .content {
        position: relative;
        z-index: 1;
        width: inherit;
        height: inherit;
        //background-color: #fff;
        margin: 0px;
        h1 {
            margin: 0;
        }
    }
    .shadows {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        -moz-opacity: 0.3;
        -khtml-opacity: 0.3;
        opacity: 0.3;
        .circle {
            border-radius: 50%;
            width: 500px;
            height: 500px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            background: #444;
            position: absolute;
            top: -250px;
            &.small {
                width: 300px;
                height: 300px;
            }
            &.sun {
                top: -150px;
            }
            //right: 0px;
        }
        .shadow {
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 200%;
            background: #444;
            background: -webkit-linear-gradient(#444, rgba(255, 255, 0, 0));
            background: -o-linear-gradient(#444, rgba(255, 255, 0, 0));
            background: -moz-linear-gradient(#444, rgba(255, 255, 0, 0));
            background: linear-gradient(#444, rgba(255, 255, 0, 0));
            -webkit-transform: rotate(-77.4822deg);
            -moz-transform: rotate(-77.4822deg);
            -ms-transform: rotate(-77.4822deg);
            -o-transform: rotate(-77.4822deg);
            transform: rotate(-77.4822deg);
            animation-name: stretch;
            animation-duration: 7.5s;
            animation-timing-function: ease-out;
            animation-delay: 0;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
        }
        .shadow.top {
            right: 0;
            top: 0;
            -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
            height: 700px;
        }
        .shadow.bottom {
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            right: 0;
            height: 700px;
            top: 100%;
        }
        .shadow.middle {
            right: 0;
            top: 0;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            height: 950px;
        }
    }
}


/*** SPOTLIGHT ***/

.inversePair {
    display: inline-block;
    position: relative;
    height: 10px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

#spotlight1 {
    bottom: -5%;
    right: 50%;
    position: absolute;
    width: 10px;
}

#spotlight2 {
    bottom: -5%;
    right: 80%;
    position: absolute;
    width: 10px;
}

#spotlight3 {
    bottom: -5%;
    right: 20%;
    position: absolute;
    width: 10px;
}

#spotlight4 {
    bottom: -5%;
    right: 40%;
    position: absolute;
    width: 10px;
}

#spotlight5 {
    bottom: -5%;
    right: 60%;
    position: absolute;
    width: 10px;
}

#spotlight6 {
    bottom: -5%;
    right: 55%;
    position: absolute;
    width: 10px;
}

#spotlight7 {
    bottom: -5%;
    right: 45%;
    position: absolute;
    width: 10px;
}

.grad {
    height: 100%;
    width: 1200px;
    margin-left: 9px;
    background: red;
    opacity: 0.2;
}

.spot1 {
    left: 40%;
    -webkit-animation: move 5s infinite;
}

.spot2 {
    left: 60%;
    -webkit-animation: move2 5s infinite;
}

.spotlight {
    position: absolute;
    width: 53px;
    height: 0px;
    border-top: 500px solid rgba(255, 255, 255, 0.25);
    border-left: 40px solid transparent;
    border-bottom: 0px solid #575;
    border-right: 40px solid transparent;
    background-color: transparent;
    -webkit-transform-origin: 50% 100% 0;
    z-index: 0;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotate(30deg);
    }
    50% {
        -webkit-transform: rotate(-30deg);
    }
    100% {
        -webkit-transform: rotate(30deg);
    }
}

@-webkit-keyframes move2 {
    0% {
        -webkit-transform: rotate(-30deg);
    }
    50% {
        -webkit-transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(-30deg);
    }
}

#text {
    position: absolute;
    left: 48%;
    top: 25%;
    z-index: 999;
    color: rgba(255, 255, 255, 0.15);
}

.animation-element {
    opacity: 0;
    position: relative;
}


/*animation element sliding left*/

.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}


/* SPIN */

.spin-container {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    animation: pinSpin 10s infinite linear;
    transform: rotate(360deg);
    transform-origin: 95px 95px;
    transform: rotate(360deg) translateX(0px);
    animation-name: start-spin, fast-spin;
    animation-duration: 6000ms, 200ms;
    animation-delay: 0ms, 6000ms;
    animation-iteration-count: 1, infinite;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1), linear;
}

#center-circle {
    background: #ffe000;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    height: 10px;
    margin: 90px 0 0 90px;
    position: absolute;
    width: 10px;
    z-index: 9;
}

#circle-highlight {
    background: #fff7b2;
    border-radius: 1.5px;
    box-shadow: 0 0 2px 1px rgba(240, 211, 0, 0.8);
    height: 3px;
    position: relative;
    top: 2.5px;
    left: 6px;
    width: 3px;
    z-index: 10;
}

#triangle-large-upper-left {
    border-top: 65px solid transparent;
    border-left: 65px solid #ff6b5b;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.4);
    height: 0;
    margin: 30px 0 0 30px;
    position: absolute;
    width: 0;
    z-index: 2;
}

#triangle-small-upper-left {
    border-top: 65px solid transparent;
    border-right: 65px solid #ff8d8f;
    height: 0;
    margin: 30px 0 0 30px;
    position: absolute;
    width: 0;
    z-index: 1;
}

#triangle-large-upper-right {
    border-top: 65px solid #49d0cc;
    border-right: 65px solid transparent;
    box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.4);
    height: 0;
    margin: 30px 0 0 95px;
    position: absolute;
    width: 0;
    z-index: 2;
}

#triangle-small-upper-right {
    border-bottom: 65px solid #4bf2e1;
    border-right: 65px solid transparent;
    height: 0;
    margin: 30px 0 0 95px;
    position: absolute;
    width: 0;
    z-index: 1;
}

#triangle-large-lower-left {
    border-bottom: 65px solid #ebff3b;
    border-left: 65px solid transparent;
    box-shadow: 1px 0 2px -1px rgba(0, 0, 0, 0.4);
    height: 0;
    margin: 95px 0 0 30px;
    position: absolute;
    width: 0;
    z-index: 2;
}

#triangle-small-lower-left {
    border-top: 65px solid #ffed5f;
    border-left: 65px solid transparent;
    box-shadow: 2px 0 2px -1px rgba(0, 0, 0, 0.4);
    height: 0;
    margin: 95px 0 0 30px;
    position: absolute;
    width: 0;
    z-index: 1;
}

#triangle-small-lower-right {
    border-bottom: 65px solid transparent;
    border-left: 65px solid #a3ff8e;
    box-shadow: 0 -1px 2px -1px rgba(0, 0, 0, 0.4);
    height: 0;
    margin: 95px 0 0 95px;
    position: absolute;
    width: 0;
    z-index: 1;
}

#triangle-large-lower-right {
    border-bottom: 65px solid transparent;
    border-right: 65px solid #63d96c;
    height: 0;
    margin: 95px 0 0 95px;
    position: absolute;
    width: 0;
    z-index: 2;
}

@-webkit-keyframes pinOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(0px);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(0px);
    }
}

@-moz-keyframes pinOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(0px);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(0px);
    }
}

@-o-keyframes pinOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(0px);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(0px);
    }
}

@keyframes pinOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(0px);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(0px);
    }
}

.si-icons span {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 40px 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

svg:not(:root) {
    overflow: hidden;
}

.no-bg-shadow {
    background: none !important;
    box-shadow: none !important;
}

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    width: 100px;
    height: 100px;
    background: #c00;
    -webkit-animation: spin 2s 0 ease-in 1, spin 1.5s linear infinite !important;
    -moz-animation: spin 2s 0 ease-in 1, spin 1.5s linear infinite !important;
    animation: spin 2s 0 ease-in 1, spin 1.5s linear infinite !important;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.full {
    max-height: 100% !important;
}

//KEYFRAME FUN
@keyframes stretch {
    0% {
        background: -webkit-linear-gradient(red, rgba(255, 255, 0, 0));
        background: -o-linear-gradient(red, rgba(255, 255, 0, 0));
        background: -moz-linear-gradient(red, rgba(255, 255, 0, 0));
        background: linear-gradient(red, rgba(255, 255, 0, 0));
    }
    25% {
        background: -webkit-linear-gradient(green, rgba(255, 255, 0, 0));
        background: -o-linear-gradient(green, rgba(255, 255, 0, 0));
        background: -moz-linear-gradient(green, rgba(255, 255, 0, 0));
        background: linear-gradient(green, rgba(255, 255, 0, 0));
    }
    50% {
        background: -webkit-linear-gradient(blue, rgba(255, 255, 0, 0));
        background: -o-linear-gradient(blue, rgba(255, 255, 0, 0));
        background: -moz-linear-gradient(blue, rgba(255, 255, 0, 0));
        background: linear-gradient(blue, rgba(255, 255, 0, 0));
    }
    75% {
        background: -webkit-linear-gradient(yellow, rgba(255, 255, 0, 0));
        background: -o-linear-gradient(yellow, rgba(255, 255, 0, 0));
        background: -moz-linear-gradient(yellow, rgba(255, 255, 0, 0));
        background: linear-gradient(yellow, rgba(255, 255, 0, 0));
    }
    100% {
        background: -webkit-linear-gradient(teal, rgba(255, 255, 0, 0));
        background: -o-linear-gradient(teal, rgba(255, 255, 0, 0));
        background: -moz-linear-gradient(teal, rgba(255, 255, 0, 0));
        background: linear-gradient(teal, rgba(255, 255, 0, 0));
    }
}

//CLOUDS
#cloud {
    width: 44px;
    height: 15px;
    background: #f2f9fe;
    background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
    border-radius: 13px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    position: relative;
    margin: 15px auto 2px;
    z-index: 2
}

#cloud:after,
#cloud:before {
    content: '';
    position: absolute;
    background: #f2f9fe;
    z-index: 1
}

#cloud:after {
    width: 20px;
    height: 20px;
    top: -6px;
    left: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#cloud:before {
    width: 22px;
    height: 22px;
    top: -12px;
    right: 6px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

//ME-ICON
#me-icon {
    width: 30px;
    margin: auto;
}

//PULSE
.pulse-ring {
    border: 3px solid #fff;
    -webkit-border-radius: 50%;
    height: 500px;
    width: 500px;
    position: absolute;
    left: 0;
    top: -1%;
    -webkit-animation: pulsate 10s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.0;
    }
    20% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    30% {
        opacity: 1.0;
    }
    40% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

//FLOATING
.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    //    margin-left: 30px;
    //    margin-top: 5px;
}

@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }
    50% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }
    50% {
        -moz-transform: translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

//OVERRIDING ANGULAR
.parallax img {
    display: block;
}

//SPIN TEST
.spin-test {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;
    animation-name: start-spin, fast-spin;
    animation-duration: 6000ms, 100ms;
    animation-delay: 0ms, 6000ms;
    animation-iteration-count: 1, infinite;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1), linear;
}

@keyframes start-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1440deg);
    }
}

@keyframes fast-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//BOUNCE TO BOTTOM
.nav-down1 {
    position: absolute;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-up1 {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*
 * Animation for webkit
*/

@keyframes bounce-in {
    0% {
        transform: translateY(-110px);
    }
    20% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-25px);
    }
    40% {
        transform: translateY(-28px);
    }
    50% {
        transform: translateY(-25px);
    }
    60% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(-8px);
    }
    90% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes bounce-out {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-150px);
    }
}


/*
 * Adding the animation to our element
*/

.bounce-in {
    -webkit-animation-name: bounce-in;
    animation-name: bounce-in;
}

.bounce-out {
    -webkit-animation-name: bounce-out;
    animation-name: bounce-out;
}

.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

canvas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.material-tooltip .backdrop {}

.animation-delay-100 {
    animation-delay: 100ms;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-delay-300 {
    animation-delay: 300ms;
}

.animation-delay-400 {
    animation-delay: 400ms;
}

.animation-delay-500 {
    animation-delay: 500ms;
}

.animation-delay-750 {
    animation-delay: 750ms;
}

.animation-delay-1000 {
    animation-delay: 1000ms;
}

.animation-delay-1250 {
    animation-delay: 1250ms;
}

.animation-delay-1500 {
    animation-delay: 1500ms;
}

//LOADER STUFF
.hideLoader {
    pointer-events: none;
    animation: hideLoader;
    animation-duration: 0.3s;
    animation-fill-mode: forwards
}

@keyframes hideLoader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.input-field {
    input {
        padding: 0px 10px;
    }
    label {
        &:after {
            top: 70px !important;
            height: 2.5em !important;
        }
    }
}

.prefix {
    top: 8px !important;
    left: 20px !important;
}

.submit-btn {
    margin: 0 auto;
    display: block;
}

.contact-form {
    margin: 100px 0px 0px;
    textarea.materialize-textarea {
        min-height: 10rem;
    }
}


/* Icon 1 */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 18px;
}

#nav-icon1 span:nth-child(3) {
    top: 36px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

//Music player
.covers {
    padding: 0px !important;
    margin-top: 50px;
    height: 500px;
    background-size: cover;
}

.player {
    height: 600px;
}

.share {
    border-radius: 30px;
    margin-top: 5px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 10px;
    border: 1px solid #FFF;
    cursor: pointer;
    margin-bottom: 20px;
}

.title {
    font-size: 1.1em;
    color: #fff;
}

.duration {
    color: #fff;
}

input[type=range] {
    border: none;
    background-color: transparent;
    height: 20px;
    transition: 0.2s ease-in;
    -webkit-appearance: none;
    margin: 0 !important
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: rgba(255, 255, 255, .5);
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: #FFF;
    transform-origin: 50% 50%;
    margin: -5px 0 0 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.thumb {
    display: none !important;
}

.controls {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    cursor: pointer;
}

.controls i {
    vertical-align: middle;
    color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.8em;
}

.collection {
    margin-top: 0px
}

.songtitle i {
    cursor: pointer;
}

.current {
    color: #FFF;
}

.controls #play {
    font-size: 2.5em;
}

.controls i {
    transform-origin: center;
    -webkit-transition: .40s ease;
    -moz-transition: .40s ease;
    -o-transition: .40s ease;
    -ms-transition: .40s ease;
    transition: .40s ease;
    cursor: pointer;
}

.bubble-svg {
    position: absolute;
    top: 40px;
    left: 12%;
    width: 80%;
    -webkit-filter: brightness(4.5);
    filter: brightness(4.5);
}

.player,
#cover {
    border-radius: 3px;
}

//Musicplayer
.music-player {
    position: relative;
    width: 350px;
    height: 290px;
    margin: 150px auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #222;
    overflow: hidden;
    z-index: 0;
}

.music-player img {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    display: block;
    width: 100% !important;
    height: 100% !important;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.music-player .info {
    width: 100%;
    height: 100px;
    background: #222;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: relative;
}

.music-player .info .jp-playlist li {
    display: none;
}

.music-player .info .jp-playlist li a {
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    color: rgba(225, 225, 225, 0.4);
}

.music-player .info .jp-playlist li a span {
    font-size: 14px;
    display: block;
    //margin-top: 10px;
}

.music-player .info .jp-playlist li.jp-playlist-current {
    display: block;
}

.music-player .info .jp-playlist li .jp-free-media,
.music-player .info .jp-playlist li .jp-playlist-item-remove {
    display: none;
}

.music-player .info .left,
.music-player .info .right {
    width: 25px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.music-player .info .right {
    left: auto;
    right: 30px;
}

.music-player .info [class^="icon-"] {
    margin: 0 0 10px;
}

.music-player .info .center {
    padding: 5px 0 0;
}

.music-player .progress,
.music-player .volume-level {
    width: 100%;
    height: 5px;
    display: block;
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    border: none;
    margin: 0px;
}

.music-player .progress .ui-slider-range,
.music-player .volume-level .ui-slider-range {
    display: block;
    background: #ed553b;
    height: 5px;
    border-radius: 0;
}

.music-player .progress .ui-slider-handle,
.music-player .volume-level .ui-slider-handle {
    position: absolute;
    top: -8px;
    width: 8px;
    height: 22px;
    background: url("//i.imgur.com/tsqwz1N.png") no-repeat center;
    border: none;
    outline: none;
    margin: 0 0 0 -3px;
    //cursor: move;
}

.music-player .controls {
    text-align: center;
    width: 100%;
    height: 190px;
    background: #982e4b;
    //background: rgba(152, 46, 75, 0.6);
    background-size: 300%;
}

.music-player .controls .current {
    font-size: 48px;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0 20px;
}

.music-player .controls .play-controls a {
    display: inline-block;
    width: 35px;
    height: 40px;
    margin: 0 30px;
}

.music-player .controls .volume-level {
    position: relative;
    bottom: auto;
    width: 200px;
    height: 2px;
    filter: brightness(10);
    margin: 0px auto 0;
    background: rgba(225, 225, 225, 0.3);
}

.music-player .controls .volume-level .ui-slider-range {
    height: 2px;
}

.music-player .controls .volume-level .ui-slider-handle {
    top: -8px;
    margin-left: -9px;
    width: 22px;
    height: 22px;
    background-image: url("//i.imgur.com/V5i67V2.png");
}

.music-player .controls .volume-level .icon-volume-up,
.music-player .controls .volume-level .icon-volume-down {
    position: absolute;
    right: -34px;
    top: -8px;
    width: 22px;
}

.music-player .controls .volume-level .icon-volume-down {
    right: auto;
    left: -27px;
}
