@media only screen and (max-width: 600px) {
    html {
        overflow-x: hidden;
    }
    h1 {
        font-size: 3em;
        text-overflow: ellipsis;
    }
    h2 {
        margin-bottom: 2em;
    }
    h3 {
        margin-bottom: 2em;
    }
    header {
        min-height: 65px;
        .navbar-fixed {
            height: 65px;
            nav {
                height: 65px;
                .button-collapse {
                    width: 100%;
                    position: static;
                }
                .container {
                    .page-title {
                        font-size: 1.5em;
                        color: white;
                    }
                }
            }
        }
        #nav-icon1 {
            float: right;
            margin: 12px 2px 12px 12px;
            width: 40px;
            height: 30px;
            span {
                height: 7px;
            }
            span:nth-child(3) {
                top: 28px;
            }
            span:nth-child(2) {
                top: 14px;
            }
        }
    }
    .parallax {
        img {
            width: 200%;
        }
    }
    home {
        #home {
            margin: 0px 0px 100px 0px;
            .section {
                top: 0;
                .page-title {
                    font-size: 4.5em;
                    color: white;
                }
            }
            .portrait-frame {
                bottom: -250px;
                width: 200px;
                height: 200px;
            }
        }
    }
    about {
        #about {
            h2 {
                margin-bottom: 10px;
            }
            .s12 {
                a {
                    display: block;
                }
            }
        }
    }
    timeline {
        #timeline {
            h3 {
                margin-bottom: 2em;
            }
            .timeline-content {
                margin: 0 !important;
                width: 100% !important;
                z-index: 1;
            }
            .timeline-event {
                padding: 15px 0px;
            }
        }
    }
    fun {
        #fun {
            img {
                height: auto;
                max-height: 200px;
            }
            .content {
                margin: 0px;
            }
        }
    }
    footer {
        .section {
            float: left;
            padding: 0px;
        }
    }
    section {
        padding: 30px 10px !important;
    }
    .section {
        width: 95%;
    }
    .bounce-in-mobile {
        -webkit-animation-name: bounce-in;
        animation-name: bounce-in;
        animation-delay: 750ms;
    }
    .contact-form {
        margin: 50px 20px 50px -20px;
    }
    .input-field .prefix~input {
        width: calc(~"100% - 4rem");
    }
}
