<!-- STATIC NAVBAR -->
<div class="navbar">
    <nav id="nav" class="no-bg-shadow" role="navigation">
        <!--BACKGROUNDS-->
        <ul class="bg-list left hide-on-med-and-down">
            <li ng-repeat="bgItem in bgItems" class="smooth-entry-reverse">
                <div class="btn-floating btn-large circle bg-frame waves-effect waves-light" ng-style="{'background-image': 'url(' + bgItem.imgUrl + ')'}" ng-click="changeBackground(bgItem)"> </div>
            </li>
        </ul>
        <!--NAV-ITEMS-->
        <ul class="link-list right hide-on-med-and-down">
            <li ng-repeat="navItem in navItems" class="waves-effect waves-light smooth-entry-reverse animation-delay-{{navItem.delay}}" nav-items-repeat-directive>
                <a href="#{{navItem.title}}" class="hvr-outline-in tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{navItem.toolTip}}"> <img src="{{navItem.img}}" /></a>
            </li>
        </ul>
        <!--MOBILE-NAV-ITEMS-->
        <ul id="nav-mobile" class="side-nav">
            <li ng-repeat="navItem in navItems" class="waves-effect waves-light smooth-entry-reverse"> <a data-scroll href="#section-1" class="hvr-outline-in">{{navItem.title}}</a> </li>
        </ul> <a href="#" data-activates="nav-mobile" class="button-collapse right"><i class="material-icons">menu</i></a> </nav>
</div>
<!-- FIXED NAVBAR -->
<div class="navbar-fixed animated">
    <nav class="">
        <div class="container">
            <!--  <ul class="bg-list left hide-on-med-and-down">
                <li ng-repeat="bgItem in bgItems" class="smooth-entry-reverse">
                    <div class="btn-floating btn-large circle bg-frame waves-effect waves-light" ng-style="{'background-image': 'url(' + bgItem.imgUrl + ')'}" ng-click="changeBackground(bgItem)"> </div>
                </li>
            </ul>-->
            <!-- NAVITEMS-->
            <div class="page-title">LARS BECK-FRIIS</div>
            <ul class="link-list right hide-on-med-and-down ">
                <li ng-repeat="navItem in navItems " class="waves-effect waves-light smooth-entry-reverse">
                    <a data-scroll href="#{{navItem.title}}" class="hvr-outline-in tooltipped " data-position="bottom " data-delay="50 " data-tooltip="{{navItem.toolTip}}"> <img src="{{navItem.img}}" /></a>
                </li>
            </ul>
        </div>
    </nav>
</div>