<!-- STATIC NAVBAR -->
<div class="navbar ng-cloak">
    <nav id="nav" class="no-bg-shadow" role="navigation">
        <!--BACKGROUNDS-->
        <ul class="bg-list left hide-on-med-and-down">
            <li ng-repeat="bgItem in bgItems" class="smooth-entry-reverse animation-delay-{{bgItem.delay}}">
                <div class="btn-floating btn-large circle bg-frame waves-effect waves-light" ng-style="{'background-image': 'url(' + bgItem.imgUrl + ')'}" ng-click="changeBackground(bgItem)"> </div>
            </li>
        </ul>
        <!--NAV-ITEMS-->
        <ul class="link-list right hide-on-med-and-down">
            <li ng-repeat="navItem in navItems" class="waves-effect waves-light smooth-entry-reverse animation-delay-{{navItem.delay}}" nav-items-repeat-directive>
                <a href="#{{navItem.title}}" class="hvr-outline-in tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{navItem.toolTip}}"> <img ng-src="{{navItem.img}}" /></a>
            </li>
        </ul>
        <!--MOBILE-NAV-ITEMS
        <ul id="nav-mobile" class="side-nav">
            <li ng-repeat="navItem in navItems" class="waves-effect waves-light smooth-entry-reverse"> <a data-scroll href="#{{navItem.title}}" class="hvr-outline-in">{{navItem.title}}</a> </li>
        </ul>-->
    </nav>
</div>
<!-- FIXED NAVBAR -->
<div class="navbar-fixed animated bounce-in-mobile ng-cloak">
    <nav>
        <div class="container">
            <!--  <ul class="bg-list left hide-on-med-and-down">
                <li ng-repeat="bgItem in bgItems" class="smooth-entry-reverse">
                    <div class="btn-floating btn-large circle bg-frame waves-effect waves-light" ng-style="{'background-image': 'url(' + bgItem.imgUrl + ')'}" ng-click="changeBackground(bgItem)"> </div>
                </li>
            </ul>-->
            <!-- NAVITEMS-->
            <img class="bf-logo" src="/img/library/bg-logo.svg">
            <div class="page-title smooth-leave-reverse hide-on-med-and-down">
                <span class="rubber-letter">L</span>
                <span class="rubber-letter">a</span>
                <span class="rubber-letter">r</span>
                <span class="rubber-letter">s</span>
                <span class="rubber-letter space"></span>
                <span class="rubber-letter">B</span>
                <span class="rubber-letter">e</span>
                <span class="rubber-letter">c</span>
                <span class="rubber-letter">k</span>
                <span class="rubber-letter">-</span>
                <span class="rubber-letter">F</span>
                <span class="rubber-letter">r</span>
                <span class="rubber-letter">i</span>
                <span class="rubber-letter">i</span>
                <span class="rubber-letter">s</span></div>
            <ul class="link-list right hide-on-med-and-down ">
                <li ng-repeat="navItem in navItems" class="waves-effect waves-light smooth-entry-reverse">
                    <a data-scroll href="#{{navItem.title}}" class="hvr-outline-in rubber-letter tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{navItem.toolTip}}"> <img ng-src="{{navItem.img}}" /></a>
                </li>
            </ul>
            <a id="menu-toggle" class="waves-effect waves-light left">
                <!--data-activates="nav-mobile" -->
                <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
        </div>
    </nav>
</div>
